<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chiyeko - Home</title>
    <meta
      name="description"
      content="Chiyeko is an upcoming AI Vtuber with a passion for gaming, particularly Osu. Developed and maintained by the skilled team at https://unfatal.xyz, Chiyeko was created using Python, Rust, and some Java. Although she has yet to debut, Chiyeko has already gained a following thanks to her engaging personality and friendly demeanor. With her first stream on the horizon, fans can't wait to see what this talented AI has in store. Stay tuned for updates on Chiyeko's upcoming streams!"
    />
    <meta name="og:title" property="og:title" content="Chiyeko - Home" />
    <meta
      name="og:description"
      property="og:description"
      content="Chiyeko is an upcoming AI Vtuber with a passion for gaming, particularly Osu. Developed and maintained by the skilled team at https://unfatal.xyz, Chiyeko was created using Python, Rust, and some Java. Although she has yet to debut, Chiyeko has already gained a following thanks to her engaging personality and friendly demeanor. With her first stream on the horizon, fans can't wait to see what this talented AI has in store. Stay tuned for updates on Chiyeko's upcoming streams!"
    />
    <meta
      name="og:image"
      property="og:image"
      content="<%= client.user.displayAvatarURL({ dynamic: true, size: 2048 }) %>"
    />
    <meta name="og:url" property="og:url" content="https://chiyeko.xyz" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </head>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, 0.1);
      border: solid rgba(0, 0, 0, 0.15);
      border-width: 1px 0;
      box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -0.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    /* GLOBAL STYLES
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-top: 3rem;
      padding-bottom: 3rem;
      color: #5a5a5a;
    }

    /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 4rem;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      bottom: 3rem;
      z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel-item {
      height: 32rem;
    }

    /* MARKETING CONTENT
-------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .col-lg-4 {
      margin-bottom: 1.5rem;
      text-align: center;
    }
    /* rtl:begin:ignore */
    .marketing .col-lg-4 p {
      margin-right: 0.75rem;
      margin-left: 0.75rem;
    }
    /* rtl:end:ignore */

    /* Featurettes
------------------------- */

    .featurette-divider {
      margin: 5rem 0; /* Space out the Bootstrap <hr> more */
    }

    /* Thin out the marketing headings */
    /* rtl:begin:remove */
    .featurette-heading {
      letter-spacing: -0.05rem;
    }

    /* rtl:end:remove */

    /* RESPONSIVE CSS
-------------------------------------------------- */

    @media (min-width: 40em) {
      /* Bump up size of carousel content */
      .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
      }

      .featurette-heading {
        font-size: 50px;
      }
    }

    @media (min-width: 62em) {
      .featurette-heading {
        margin-top: 7rem;
      }
    }
  </style>

  <style>
    .exampleImages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .exampleImages:hover {
      animation: exampleImage 0.5s ease-in-out infinite alternate;
    }

    @keyframes exampleImage {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.1);
      }
    }

    .modal-sheet .modal-dialog {
      width: 380px;
      transition: bottom 0.75s ease-in-out;
    }
    .modal-sheet .modal-footer {
      padding-bottom: 2rem;
    }

    .modal-alert .modal-dialog {
      width: 380px;
    }

    .modal-tour .modal-dialog {
      width: 380px;
    }

    .center-modal .modal-dialog {
      margin: 1.75rem auto;
    }

    .blured-background {
      /* Blur it, but do not have the white empty space at the top */
      filter: blur(5px);
    }
  </style>
  <body>
    <div class="blured-background" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div>
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="<%= client.user.displayAvatarURL({ dynamic: true, size: 2048 }) %>"
                alt="Kiyo's Cafe"
                width="32"
                height="32"
                style="border-radius: 50%"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/socials/twitch">Twitch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/socials/twitter">Twitter</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/socials/discord">Discord Server</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/socials/reddit">Reddit</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
  
      <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://i.pinimg.com/originals/17/d2/65/17d265ee9b3e4acaad2ab94ee5a50b3c.jpg"
                alt="First slide"
              />
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Chiyeko</h1>
                  <p>
                    Chiyeko is an up-and-coming AI Vtuber who is eagerly
                    anticipated by fans all over the world. Developed and
                    maintained by the skilled team at
                    <a href="https://unfatal.xyz" no-referrer external>Unfatal</a
                    >, Chiyeko is a sophisticated AI who was crafted using a
                    combination of Python, Rust, and some Java.
                  </p>
                  <p>
                    <a class="btn btn-lg btn-primary" href="/socials/twitch"
                      >Follow The Twitch</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://wallpapercave.com/wp/wp7737364.jpg"
                alt="Second slide"
              />
              <div class="container">
                <div class="carousel-caption">
                  <h1>Smart AI</h1>
                  <p>
                    Chiyeko is a smart AI who can learn from your interactions
                    with her. She can also learn from other users, and she can
                    even learn from herself! She is constantly improving, and she
                    is always learning.
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://wallpaperaccess.com/full/6137495.jpg"
                alt="Third slide"
              />
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>Open Source</h1>
                  <p>
                    Currently the
                    <a href="https://discord.com" style="color: white"
                      >Discord Bot</a
                    >
                    is open source.
                  </p>
                  <p>
                    <a
                      class="btn btn-lg btn-primary"
                      href="https://github.com/kiyolol/chiyeko-discord-bot"
                      >View The Code</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  
        <!-- Marketing messaging and featurettes
      ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
  
        <div class="container marketing">
          <h1 class="fw-normal">Staff</h1>
  
          <div class="row" id="staff">
            <% staff.forEach(m => { %>
            <div class="col-lg-4">
              <img
                src="<%= m.avatar %>"
                alt="<%= m.tag %>'s Avatar"
                width="140"
                height="140"
                style="border-radius: 50%"
              />
              <h2 class="fw-normal"><%= m.name %></h2>
            </div>
            <!-- /.col-lg-4 -->
            <% }) %>
          </div>
          <!-- /.row -->
  
          <!-- START THE FEATURETTES -->
  
          <hr class="featurette-divider" />
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">Auto Play Games</h2>
              <p class="lead">
                We have spent a lot of time developing a system that allows
                Chiyeko to play games automatically. This is not limited to:
                Minecraft, Osu, and more!
              </p>
            </div>
            <div class="col-md-5">
              <img
                src="https://i.ppy.sh/013ed2c11b34720790e74035d9f49078d5e9aa64/68747470733a2f2f6f73752e7070792e73682f77696b692f696d616765732f4272616e645f6964656e746974795f67756964656c696e65732f696d672f75736167652d66756c6c2d636f6c6f75722e706e67"
                alt="Example 1"
                width="500"
                height="500"
                class="exampleImages"
              />
            </div>
          </div>
  
          <hr class="featurette-divider" />
  
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Random Moments</h2>
              <p class="lead">
                We have fed Chiyeko a lot of data, and she has learned how to
                react to certain things. She can react to certain words and
                phrases.
              </p>
            </div>
            <div class="col-md-5 order-md-1">
              <img
                src="https://www.webtunix.ai/static/img/rotatebrain.gif"
                alt="Example 2"
                width="500"
                height="500"
                class="exampleImages"
              />
            </div>
          </div>
  
          <hr class="featurette-divider" />
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1">More To Come</h2>
              <p class="lead">
                We are constantly working on Chiyeko, and we are always adding new
                features. We are currently working on a new website. In the
                meantime, we recommend trying
                <a href="https://unfatal.xyz">Unfatal!</a>
              </p>
            </div>
            <div class="col-md-5">
              <img
                src="https://media3.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif"
                alt="Example 3"
                width="500"
                height="500"
                class="exampleImages"
              />
            </div>
          </div>
  
          <hr class="featurette-divider" />
  
          <!-- /END THE FEATURETTES -->
        </div>
        <!-- /.container -->
  
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-end">
            <a href="#" style="text-decoration: none">Back to top</a>
          </p>
          <a
            href="https://unfatal.xyz"
            style="text-decoration: none"
            id="copy"
          ></a>
        </footer>
      </main>
    </div>
   

    <!-- MODAL -->

    <div
      class="modal fade center-modal"
      id="loadingModal"
      tabindex="-1"
      aria-labelledby="loadingModalLabel"
      aria-hidden="true"
    >
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
          <h1 class="modal-title fs-5" id="loadingModalLabel">Loading...</h1>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <p id="tips-txt">
            
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast">
      <div class="toast-body">
        Do you like Chiyeko? Consider donating to help keep the site running.
        <div class="mt-2 pt-2 border-top">
          <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/donate'">Donate</button>
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
        </div>
      </div>
    </div>
  </div>
  </body>
  <!-- ! BETA CODE -->
  <!-- <script src="/assets/js/tips.js"></script> -->

  <script>
    async function createCopyright() {
      const date = new Date();
      const year = date.getFullYear();
      const copy = document.getElementById("copy");
      copy.innerHTML = `© ${year} Unfatal`;
    }

    createCopyright();

    async function showModal(n) {
      const show = "<%= showModals %>";
      // if (show === 'false') return;
      const modal = new bootstrap.Modal(document.getElementById(n), {
        keyboard: false,
      });
      modal.show();
    }

    // showModal("loadingModal");

    const toastLiveExample = document.getElementById('liveToast')
    const toast = new bootstrap.Toast(toastLiveExample)
      
    toast.show()
  </script>
</html>
